Repository arcus/education_modules, pull requests merged in 2023-11, with the labels that each got.

#797 update link to Broman and Woo paper
  tidy_data/tidy_data.md
Labels: Tidy Data

#787 update to docs v3
  directories_and_file_paths/directories_and_file_paths.md
Labels: Directories and File Paths

#792 update to docs v3
  git_creation_and_tracking/git_creation_and_tracking.md
Labels: Creating a Git Repository

#786 How to troubleshoot docs update
  how_to_troubleshoot/how_to_troubleshoot.md
Labels: How to Troubleshoot

#646 R Basics Practice module
  r_basics_practice/r_basics_practice.md
Labels: Quality Assurance
